#git config status.showUntrackedFiles no
# ignore everything
*
# except these file
!.gitconfig
!.gitignore
!.gitattributes
!.bash_aliases
!.vimrc
!.netrc
!.screenrc
!.gdbinit
!.config/user-dirs.dirs

# etc.... 
